@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.card,
.img-box,
.text-box {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    flex-direction: row;
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 0;
    background: linear-gradient(to right, #182848, #4b6cb7);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

/* img-box */
.img-box {
    width: 40%;
    flex-direction: column;
    text-align: center;
}


img {
    width: 100%;
    border-radius: 50%;
    outline: 5px outset #fff;
    outline-offset: 6px;
}

.img-box h4 {
    text-transform: uppercase;
    margin: 0.5rem 0;
}

/* text-box */
.text-box {
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    border-left: 2px solid #fff;
}


.text-box i {
    padding: 5px;
    margin-right: 1rem;
    border: 2px solid transparent;
    border-radius: 50%;
}

.text-box a:hover i {
    border-color: #fff;
}


@media screen and (max-width:600px) {
    .card {
        max-width: 300px;
        flex-direction: column;
    }

    .img-box {
        padding: 1rem;
        width: 70%;
        border-bottom: 2px solid;
    }

    .text-box {
        padding: 2rem 0;
        border: none;
    }

}

@media screen and (max-width:350px) {

    body,
    .card,
    .img-box {
        padding: 1rem 0;
    }

    .card {
        width: 98%;
    }

    span {
        display: none;
    }

    .text-box {
        flex-direction: row;
    }

    .text-box i {
        margin: 0;
        padding: 0;
    }
}